# Never check in binary files!
*.bz2
*.gz

# Ignore (in-place) build results
molmod/ext.c
molmod/version.py
*.so
*.pyc
build
MANIFEST
doc/_build
doctrees
dist
molmod.egg-info
.eggs

# Output of the examples
molmod/examples/001_molecules/ibuprofen.xyz
molmod/examples/001_molecules/ibuprofen_com.xyz
