env:
  jobs:
  - MYCONDAPY=2.7
  - MYCONDAPY=3.7
  global:
    # ANACONDA_TOKEN
    - secure: "Mict7gfK9EflyXN0wgMIEcW3jErzwWo+xtU7U5I8Rb/zFyKyXiBwTqbq6l6zlvmTR8/Yj8H5RG70+vHigMTRyMQttRtpa9Y8Uu/hGLkTEC5/QIhbqKbRLNOY2xzkwgQ7H+DHsi2z03cbYrM78rFUNwL0cvIPnUO4PEHLosa9ZK4="
    # GITHUB_TOKEN
    - secure: "Sgt8M1UR3NU1eq63iGG8ngLhzKUJ2eNKMwrD0WjpNp51+FkBwZwEQul8eeDqJ+eKD2142hGO4zp1V71m/dKgplN/EEBirsfQFGoXE9iagNuLoBaqDHPmmr3vP15hhOWorY30PwXkA+tF7smtzsmKFUNEu9qIDdqLVoC5LAD7su4="
    # PYPI_PASSWD
    - secure: "K1bhKuz7+6FVrlwxRpujZFHIQJDptWfnQUL1eUl2lqzHdRhv0l75rlnLvTakaH3GqNCFnDdLZQb53XVg5RMoHzbmRyD+Bxv7bBtlEhowAhgu4Ma1czQFd6S1BX9vT4jfhSmyGaA6oKz1z9UhZ3h2sI8SL7gMmMsHmiPY4ziIFa4="
    - PYPKG=molmod
    - GITHUB_REPO_NAME=molmod/molmod

# Do not use Travis Python to save some time.
language: generic
dist: xenial

branches:
  only:
    - master
    - /^[0-9]+\.[0-9]+(\.[0-9]+)?([ab][0-9]+)?$/

install:
# Get miniconda. Take the right version, so re-installing python is only needed for 3.5.
- if [[ "$MYCONDAPY" == "2.7" ]]; then
    wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
  else
    wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  fi
- bash miniconda.sh -b -p $HOME/miniconda
- source ~/miniconda/bin/activate
- hash -r

## Configure conda and get a few essentials
- conda config --set always_yes yes
# Get the right python version for building. Most things can be listed as
# dependencies on metal.yaml and setup.py, unless setup.py already imports them.
# This also installs conda tools for packaging and uploading
- conda install python=${MYCONDAPY} conda-build numpy cython conda-verify numpy cython sphinx anaconda-client codecov coverage pytest pytest-cov
# Show conda info for debugging
- conda info -a

script:
# Check if code is normalized properly, whitespace etc
- wget https://raw.githubusercontent.com/tovrstra/devscripts/master/scripts/ds-normalize-code -O ds-normalize-code;
  chmod +x ds-normalize-code;
  ./ds-normalize-code;

# Build the conda package
- git fetch origin --tags
- conda build -q tools/conda.recipe

# Build source package, should work too and needed for deployment to Github and
# PyPI.
- python setup.py sdist

# Install Conda package, which is put outside the test env.
- conda install --use-local ${PYPKG}

# Compile documentation
- (cd doc; make html)

# Run tests out of source tree, to make sure that installed version is tested.
- (cd; pytest --pyargs $PYPKG -v --cov=$PYPKG --cov-report=term-missing --cov-report=xml --cov-branch)

after_success:
# Upload the coverage analysis
- codecov -f ~/coverage.xml

# In deployment, the env var TRAVIS_TAG contains the name of the current tag, if any.
deploy:
- provider: releases
  skip_cleanup: true
  token: ${GITHUB_TOKEN}
  file: dist/${PYPKG}-${TRAVIS_TAG}.tar.gz
  on:
    repo: ${GITHUB_REPO_NAME}
    tags: true
    condition: "$TRAVIS_TAG != *[ab]* && $MYCONDAPY == 2.7 && $TRAVIS_OS_NAME == linux"
  prerelease: false
- provider: releases
  skip_cleanup: true
  token: ${GITHUB_TOKEN}
  file: dist/${PYPKG}-${TRAVIS_TAG}.tar.gz
  on:
    repo: ${GITHUB_REPO_NAME}
    tags: true
    condition: "$TRAVIS_TAG == *[ab]* && $MYCONDAPY == 2.7 && $TRAVIS_OS_NAME == linux"
  prerelease: true
- provider: script
  skip_cleanup: true
  script: anaconda -t $ANACONDA_TOKEN upload --force -l alpha ${HOME}/miniconda/conda-bld/*/${PYPKG}-*.tar.bz2
  on:
    repo: ${GITHUB_REPO_NAME}
    tags: true
    condition: "$TRAVIS_TAG == *a*"
- provider: script
  skip_cleanup: true
  script: anaconda -t $ANACONDA_TOKEN upload --force -l beta ${HOME}/miniconda/conda-bld/*/${PYPKG}-*.tar.bz2
  on:
    repo: ${GITHUB_REPO_NAME}
    tags: true
    condition: "$TRAVIS_TAG == *b*"
- provider: script
  skip_cleanup: true
  script: anaconda -t $ANACONDA_TOKEN upload --force -l main ${HOME}/miniconda/conda-bld/*/${PYPKG}-*.tar.bz2
  on:
    repo: ${GITHUB_REPO_NAME}
    tags: true
    condition: "$TRAVIS_TAG != *[ab]*"
- provider: pypi
  skip_cleanup: true
  username: molmod
  password: ${PYPI_PASSWD}
  on:
    repo: ${GITHUB_REPO_NAME}
    tags: true
    condition: "$TRAVIS_TAG != *[ab]* && $MYCONDAPY == 2.7 && $TRAVIS_OS_NAME == linux"
- provider: pages
  skip_cleanup: true
  token: ${GITHUB_TOKEN}
  project_name: ${PYPKG}
  local_dir: doc/_build/html
  on:
    repo: ${GITHUB_REPO_NAME}
    condition: "$TRAVIS_TAG != *[ab]* && $MYCONDAPY == 2.7 && $TRAVIS_OS_NAME == linux"
    tags: true
