#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport
PYVERS=$(shell pyversions -vs)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Add here any variable or target overrides you need.

# Uncommend this line for builds on the amd64 architecture
# with numpy < 1.0.3
export FARCH='-march=nocona'
